@import "leaflet/dist/leaflet.css";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.popupUnit {
  margin: 0px;
}

.scrollUnit {
  color: black;
  overflow-y: scroll;
  max-height: 200px;
}

.menu {
  z-index: 10;
  display: "flexbox";
  justify-content: "flex-end";
  height: "50px";
  width: "100%";
}

p {
  display: inline;
}